.bienvenido-principal {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: #ffffff;
    box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.3);
    color: #2E3054;

}
.span-unitec-principal{
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 400;
    font-size: 13px;
}
.header-principal{
    margin-top: 10%;
    text-align: center;
    font-weight: bolder !important;
    font-size: 32px;
    
    
}

.img-principal{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 267px;
    border-radius: 138px;
}
.h2-principal{
    
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: -25px; /*for exact positioning */
    margin-top: -15%; /* for relative positioning */
}

.flecha{
    margin-top: 4px;
    margin-left: 3%;
    font-size: 13px;
}
.button-principal-bienvenido{
    background-color: #ffffff;
    border: none;
    margin-left: 60%;
    margin-top: 15%;
    font-weight: bold;
    margin-top: 30%; /*for exact positioning */
    color:#2E3054;
   
}

