:root{
   --gris: #e1e1e1; 
}

.principal-frame{
    width: 400px;
    height: 600px;
    background-color: white;
    padding: 20px;
    font-family: 'Montserrat';
}

.heading-crear, h4{
    text-align: center;
}

div{
    padding: 5px;
}

.nombreC, .apellidoC, .correoC, .passC , .repeatPassC{
    width: 320px;
    height: 40px;
    background-color: var(--gris);
    border-radius: 14px;
    border: none;
    
}
.terminos-n{
    text-decoration: underline;
}
::placeholder{
    text-align: center;
    height: 20px;
    left: 53px;
    font-size: 13px;
    font-weight: 400;
}
.permisos, .notificaciones{
    display: flex;
    float: left; 
    font-size: small;
    text-align: justify;
}

.check1, .check2{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.boton-crear{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.btn-flecha-crear{
    background-color: white;
    border: none;
    color:#2E3054;
}
.img-crear{

width: 113px;
height: 39px;
left: 131px;
top: 116px;

}
.bt-crear{
    border: none;
    background-color: #2E3054;
    border-radius: 14px;
    width: 320px;
    height: 40px;
    padding: 5px;
    color: white;
    font-weight: 300 !important;
}

.cuerpo-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: -25px; /*for exact positioning */
    margin-top: -15%; /* for relative positioning */
}
.flecha-crear{
    margin-left: 5%;
}